/cache.properties
/node_modules
/*.code-workspace
/.vscode/settings.json
/tmp.cfm
/.vscode
/.env
/modules/*
/tasks/envs/local.properties
*.log
/modules
/userdata
_data
.DS_Store
docker-compose.yml
.idea
/apirone-site.txt
/apps/manager/assets/js/tests/app-plate-test.js
/apps/manager/assets/js/tests/app-signage-test.js
/scripts
dump_db.sh
restore_db.sh
assets/main/img/fototesthorizontal.png
assets/main/img/fototestmedia.png
assets/main/img/fototestvertical.png
.CommandBox
extras/.env
extras/*.sql
server.json