.red {
	color: Red;
}

.form-control {
	border-color: #cccccc !important;
}

.card-title-sign {
	height: 68px;
}

.page-header .breadcrumbs {
	padding-right: 20px !important;
}

.ui-pnotify-title {
	font-size: 16px !important;
}

label.error {
	line-height: 16px !important;
	margin-top: 5px !important;
}

.discount {
	text-decoration: line-through;
	color: #cccccc
}

.table-borderless {
	border-collapse: collapse;
	border: 0;
}

/*
.form-group:not(:first-child) {
	padding-top: 1rem;
	border-top: 1px solid #f3f3f3 !important;
}
*/

.form-group:not(:first-child) {
	padding-top: 0rem !important;
	/* border-top: 1px solid #f3f3f3 !important; */
}

h2 {
	color: #0088cc
}

.box-search {
    background-image: url(/assets/main/img/bg-box-search.png);
    background-repeat: no-repeat;
    background-position: top 10px center;
	background-color: #eeeeee;
	border: 1px solid #CCCCCC;
}

/*
	sidebar and topbar
*/

.sidebar-left {
	background: #4482E8 !important;
}


html.no-overflowscrolling .sidebar-left .nano {
	background: #4482E8 !important;
	box-shadow: -5px 0 0 #2771e8 inset !important;
}

@media only screen and (min-width: 768px) {
	html.sidebar-left-collapsed .sidebar-left .nano {
		background: #4482E8 !important;
		box-shadow: -5px 0 0 #2771e8 inset;
	}
}

ul.nav-main li a {
	color: White !important;
}

html.no-overflowscrolling .nano > .nano-pane > .nano-slider {
	background: #4482E8 !important;
}

.page-header {
	background: #2771e8 !important;
}

.sidebar-left .sidebar-header .sidebar-title {
	background: #2771e8 !important;
}

.sidebar-left .sidebar-header .sidebar-toggle {
	background: #2771e8 !important;
}

ul.nav-main > li > a:hover, ul.nav-main > li > a:focus {
	background-color: #2771e8;
}

.sidebar-left .sidebar-header .sidebar-toggle i {
	color: white;
}

.page-header .breadcrumbs a, .page-header .breadcrumbs span {
	color: white;
}

/*
	// sidebar and topbar
*/


.form-group + .form-group  {
	border: 0 !important;
}

.quotation-zone {
	padding: 10px;
}

.quotation-plate {
	border-radius: 10px;
	background-color: #E2EBFB;
	padding: 10px;
}

.quotation-plate-inner {
	border-radius: 10px;
	background-color: #E2EBFB;
	margin: 10px;
}

.page-header {
	border-left: 1px solid #4482E8 !important;
}

.page-header h2 {
	border: 0 !important;
}

#menu .nav-link, #menu .nav-link:after {
	color: White !important;
}

#menu .nav-link:hover {
	color: #E3C000 !important;
}

/*
ul.nav-main li .nav-children {
	background-color: #4482E8 !important;
}
*/

ul.nav-main li .nav-children li a:hover, ul.nav-main li .nav-children li a:focus {
	background: #2771e8 !important;
}

.nav-main li .nav-children {
	background: #2771e8 !important;
}

ul.nav-main > li.nav-expanded > a  {
	background: #2771e8 !important;
}


/*
	bootstrap custom color
*/

.btn-primary {
	background-color: #2771e8 !important;
	color: White !important;
}

h2, a {
	color: #2771e8 !important
}

input[type="checkbox"] {
	background-color: #2771e8 !important;
	color: White !important;

}

