/* Don't change this file, automatically created by systemColors.json. 
Created at {ts '2024-10-21 18:45:41'} */

/* C10 */
.color-red {
    background-color: #9e0142;
}
    

/* C20 */
.color-carmine {
    background-color: #d53e4f;
}
    

/* C30 */
.color-orange {
    background-color: #f46d43;
}
    

/* C40 */
.color-light-orange {
    background-color: #fdae61;
}
    

/* C50 */
.color-yellow {
    background-color: #fee08b;
}
    

/* C60 */
.color-lemon-yellow {
    background-color: #e6f598;
}
    

/* C70 */
.color-light-green {
    background-color: #abdda4;
}
    

/* C80 */
.color-green {
    background-color: #66c2a5;
}
    

/* C90 */
.color-blue {
    background-color: #3288bd;
}
    

/* C100 */
.color-violet {
    background-color: #5e4fa2;
}
