/* latin-ext */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2)
		format("woff2");
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
		U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
		U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2)
		format("woff2");
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
		U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecg.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
		U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2)
		format("woff2");
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
		U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
		U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2)
		format("woff2");
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
		U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
		U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2)
		format("woff2");
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
		U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
		U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 800;
	src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDD4Z1JlFc-K.woff2)
		format("woff2");
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
		U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 800;
	src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
		U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: "Shadows Into Light";
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/shadowsintolight/v19/UqyNK9UOIntux_czAvDQx_ZcHqZXBNQzdcD5.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
		U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ===== CUSTOM FONTS ===== */

@font-face {
    font-family: 'Agenda';
    src: url('/assets/main/fonts/agenda.woff2') format('woff2');
}

@font-face {
    font-family: 'Arial';
    src: url('/assets/main/fonts/arial.woff2') format('woff2');
}

@font-face {
    font-family: 'ARIAL ROUNDED';
    src: url('/assets/main/fonts/arial-rounded.woff2') format('woff2');
}

@font-face {
    font-family: 'Baskerville Old Face';
    src: url('/assets/main/fonts/baskerville-old-face.woff2') format('woff2');
}

@font-face {
    font-family: 'Caghen';
    src: url('/assets/main/fonts/caghen.woff2') format('woff2');
}

@font-face {
    font-family: 'Century Gothic';
    src: url('/assets/main/fonts/century-gothic.woff2') format('woff2');
}

@font-face {
    font-family: 'Din Light Regular';
    src: url('/assets/main/fonts/din-light.woff2') format('woff2');
}

@font-face {
    font-family: 'Futura Std Cond';
    src: url('/assets/main/fonts/futura-std-cond.woff2') format('woff2');
}

@font-face {
    font-family: 'Helvetica Neue LT STD 75 BOLD';
    src: url('/assets/main/fonts/helvetica-neue-75-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Helvetica Neue LT STD 65 MEDIUM';
    src: url('/assets/main/fonts/helvetica-neue-65-medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Interdimensional';
    src: url('/assets/main/fonts/interdimensional.woff2') format('woff2');
}

@font-face {
    font-family: 'ITC Officina Sans Bold';
    src: url('/assets/main/fonts/itc-officina-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Made Cannes';
    src: url('/assets/main/fonts/made-cannes.woff2') format('woff2');
}

@font-face {
    font-family: 'Maison Neue Demi';
    src: url('/assets/main/fonts/maison-neue-demi.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/main/fonts/montserrat-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat b';
    src: url('/assets/main/fonts/montserrat-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Mouse Deco Regular';
    src: url('/assets/main/fonts/mouse-deco.woff2') format('woff2');
}

@font-face {
    font-family: 'TRAJAN PRO';
    src: url('/assets/main/fonts/trajan-pro.woff2') format('woff2');
}

@font-face {
    font-family: 'Times New Roman';
    src: url('/assets/main/fonts/times-new-roman.woff2') format('woff2');
}